@font-face {
    font-family: bitstreamverasansmono;
    src: url("./media/VeraMono.ttf");
}

body {
    font-family: bitstreamverasansmono, monospace;
    color: rgba(216, 233, 215, 0.863);
    margin: 0%;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
}

#everythingbagel {
    width: 100%;
}

#background {
    background-image: url("./media/background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.window {
    background-color: rgba(0, 0, 0, 0.418);
    border: 2px solid #f782ab;
    box-shadow: 0px 0px 24px 2px rgba(224, 158, 174, 0.438);
    border-radius: 10px;
}

#extralength {
    margin-bottom: 45px;
}

#window0 {
    /* margin-top: 70px; */
    margin-left: 8%;
    margin-right: 27%;
}

#window1 {
    margin-top: -40px;
    margin-left: 56%;
    margin-right: 8%;
}

#window2 {
    margin-top: -80px;
    margin-right: 75%;
    margin-left: 4%;
}

.titlebar {
    background-color: #201f20;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

.icon {
    width: 18px;
    vertical-align: middle;
    margin-right: -4px;
}

#contents {
    display: flex;
    margin-left: 8%;
    word-break: break-word;
}

#text {
    width: 80%;
}

.seperator {
    color: #e4c5cf;
    margin-bottom: 0%;
    text-align: center;
}

.seperatorbottom {
    margin-bottom: 10px;
    color: #e4c5cf;
    text-align: center;
}

.actualinfo {
    margin: 0%;
}

#ascii {
    font-size: 15px;
    line-height: 1.3;
    margin-right: 4%;
}

.fishcolour {
    color: #a9e796;
}

.lotuscolour {
    color: #e694a3;
}

a {
    color: rgb(211, 144, 231);
    text-decoration: none;
    font-size: 16px;
}

#textcontainer {
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

.centeredtext {
    text-align: center;
    margin-top: 0%;
}

#coloredtext {
    color: rgb(211, 144, 231);
}

#songinfo {
    margin-left: 27px;
}

#musiccontents {
    display: flex;
    word-break: break-word;
}

#albumcover {
    height: 222px;
    margin-left: 30px;
    margin-bottom: 28px;
    border-radius: 4px;
}

#artist {
    font-size: 26px;
    color: rgba(176, 204, 175, 0.863);
}

#heart {
    color: #d12fa1;
    font-weight: bold;
}

.titlebartext {
    color: rgb(177, 177, 177);
}

#credits {
    padding-bottom: 5px;
    word-break: break-word;
    margin-left: 8px;
    margin-right: 8px;
}

#discorduser {
    color: rgb(211, 144, 231);
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#tooltip {
    opacity: 0;
    position: absolute;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 6px;
    left: 50%;
    bottom: 100%;
    margin-left: -110px;
    color: #b4d3ab;
    border: 2px solid #f782ab;
    padding: 2px;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fadeOut {
    animation: fadeOut 3s ease-in;
}

p {
    margin-bottom: 0%;
}

#marginbottom {
    margin-bottom: 1em;
}

/* other screen width styling by yuiyamu / lilac >_< 
* this looks way better on 1080p monitors, it scretches beyond the height of the screen otherwise >.< */
/* thank you dear <3 - anne */
@media only screen and (max-device-width: 1920px) {
    body {
        font-size: 14px;
    }

    #ascii {
        line-height: 1.1;
    }
}

/* this is for mobile~! mobile styling is a pain, but i made it work okay~ basically requires you to redo most stuff, so i didn't want to make you do that hhh */
@media only screen and (max-device-width: 768px) {
    body {
        font-size: 18px;
    }

    main {
        display: block;
        height: auto;
    }

    #window0 {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }

    #window1 {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }

    #window2 {
        margin: 2%;
    }

    #contents {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }

    #ascii {
        text-align: center;
        margin-right: 0;
    }

    #text {
        width: 100%;
    }
}